.tiptap {
  outline: none;
  line-height: 1.6;
}

.tiptap p {
  margin: 8px 0;
}

.tiptap ul,
.tiptap ol {
  padding-left: 1.2em;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}
