html {
  font-size: 14px;
}
body {
  box-sizing: border-box;
  margin: 0;
  background: var(--grey-1);
  color: var(--grey-10);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--grey-10);
}
button {
  margin: 0;
  padding: 4px 8px;
  min-width: 30px;
  min-height: 30px;
  background: var(--grey-2);
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  border-color: transparent;
  border-style: hidden;
  &:hover {
    background: var(--grey-3);
  }
}
