html {
  font-size: 14px;
}
body {
  box-sizing: border-box;
  margin: 0;
  background: var(--grey-1);
  color: var(--grey-10);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
