:root {
  --grey-1: #fff;
  --grey-2: #e3e3e3;
  --grey-3: #c6c6c6;
  --grey-4: #aaa;
  --grey-5: #8e8e8e;
  --grey-6: #717171;
  --grey-7: #555;
  --grey-8: #393939;
  --grey-9: #1c1c1c;
  --grey-10: #000;
}
