button.j-btn {
  padding: 4px 12px;
  background-color: white;
  border: 1px solid $separator-color;
  border-radius: 4px;
  font-weight: bold;
  line-height: 1.8;
  cursor: pointer;
  &:hover {
    background-color: rgba($color: #000, $alpha: 0.1);
  }
  &.flat {
    border: 1px solid transparent;
  }
  &.left-icon span.mdi {
    margin-right: 4px;
  }
  &.right-icon span.mdi {
    margin-left: 4px;
  }
  body.body--dark & {
    background-color: $dark;
    border: 1px solid $separator-dark-color;
    &:hover {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }
  }
}
